parameters:
	level: 6
	paths:
		- wp-auto-featured-image.php
		- admin/
		- includes/
	excludePaths:
		- vendor/
		- tests/
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	scanDirectories:
		- vendor/szepeviktor/phpstan-wordpress

includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

# Ignore specific errors that are common in WordPress plugins
ignoreErrors:
	# Allow dynamic properties on WP objects
	- '#Access to an undefined property WP_Post::\$#'
	# WordPress global functions without strict types
	- '#Function [a-z_]+ invoked with \d+ parameters?, \d+ required\.#'
	# Allow using $wpdb
	- '#Variable \$wpdb might not be defined\.#'
